<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title color="mycolor">Customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customers</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <div>
    <ion-list *ngIf="permission">

      <ion-item *ngFor="let user of users">
        <ion-avatar>
          <img src={{user.image}}>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-icon name="search-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{user.name}}</h2>
          <h3>{{user.state}}</h3>
          <p>{{user.description}}</p>
        </ion-label>
      </ion-item>

   <!--   <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>

    
      <ion-item>
        <ion-avatar>
          <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/03/avatar-facebook-2632445.jpg?tf=1920x">
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-icon name="search-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>Software Developer</h3>
          <p>I have a degree un Software Engineering</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn2.excelsior.com.mx/media/inside-the-note/pictures/2020/06/03/edwin.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Jake</h2>
          <h3>Software Developer</h3>
          <p>I have a degree un Software Engineering</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-avatar slot="end">
          <img src="https://cdn2.excelsior.com.mx/media/styles/image800x600/public/pictures/2020/06/03/2372863.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Fionna</h2>
          <h3>Software Developer</h3>
          <p>I have a degree un Software Engineering</p>
        </ion-label>
      </ion-item>
        -->
  
    </ion-list>
    <ion-label *ngIf="!permission">Not tienes permiso para ver a los clientes</ion-label>
  </div>
  <div id="container">
    <button (click)="goHome()" class="btn">Go to Home</button>
  </div>
</ion-content>
