<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title color="mycolor">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
<!--  <ion-button [routerLink]="['/customers']">Go to Costumers</ion-button>
  <ion-button routerLink="/customers">Go to Customers</ion-button>
-->

<ion-grid>
  <ion-row>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
      <div class="texto">Texto</div>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
      <div class="texto">Texto</div>

    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
      <div class="texto">Texto</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <div class="texto">Texto</div>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="3"> 
      <div class="texto">Texto</div>

    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
      <div class="texto">Texto</div>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
