ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
ion-title{
    color: var(--ion-color-mycolor-contrast);
}

.texto{
    background-color: var(--ion-color-mycolor);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}